<h1> WearON </h1>

<form action="http://localhost:8081/tokens" method="POST">
		<h><b> User's Data Storage Information </b></h>
		<hr/>
		Your Thinkspeak API key: 
		<input type="text" name="thingspeakAPI" size="20"> </input>
		<br>
		<br>
		<input type="checkbox" name="analogSensor1"> Analog Sensor 1</input>
		<br>
		&nbsp&nbsp&nbsp&nbsp&nbsp Field Name:
		<input type="text" name="fieldName1" size="20"> </input>
		<br>
		<br>
		<input type="checkbox" name="analogSensor2"> Analog Sensor 2</input>
		<br>
		&nbsp&nbsp&nbsp&nbsp&nbsp Field Name:
		<input type="text" name="fieldName2" size="20"> </input>
		<br>
		<br>
		<hr/>
		<input type="submit" value="Generate Token Key"></input>

		<div id="demo"></div>
		</form>